body {
  background: #efefef;
  font-family: helvetica;
}
.bg2 {
    background: #117BDD !important;
    padding: 3em;
    width: auto;
    height: 300px;
    margin-top: 10%;
    margin-right: 30%;
   -webkit-transition: all 0.75s ease-in-out;
   -moz-transition: all 0.75s ease-in-out;
   -o-transition: all 0.75s ease-in-out;
   transition: all 0.75s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .bg2 {
    background: lightblue !important;
    
      
  }
}
    
.title{
    font-size: 1em;
    text-align: left;
    margin:auto;
    padding: 3em;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: .8em;
    padding: 1.5em;
    transition: .5s;
    
      
  }
}


.nav {
  float: right; 
  padding: 20px 0 0 0;
    z-index: 1000;
}

li {
  float: left; /* makes list horizontal */
  list-style-type: none;
  margin: 0 0 0 30px; /* separates 'buttons' */
}

a {
  padding: 10px 15px; /* makes target area bigger */
  color: #333; /* rgba backup */
  color: rgba(255,255,255, 0.8);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

a:hover, a:focus {
  color: #fff;
  background: #fff; /* rgba backup */
  background: rgba(255,255,255, 0.2);
  -webkit-border-radius: 4px; /* safari & chrome */
  -moz-border-radius: 4px; /* firefox */
  border-radius: 4px; /* futureproof */
}